<form [formGroup]="resetForm" (ngSubmit)="ResetPassword() ">
    <div class="container" style="text-align:center;">
      <h2>Reset Password</h2>
      <div class="form-group" style="text-align:center;">
        <label for="password" style="text-align:center;"><b>New Password</b></label>
        <input style="text-align:center;" [type]="changetype?'password':'text'" placeholder="Enter your password"  formControlName="newPassword">
        <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i>
        </span>
        <span style="color:brown"*ngIf="newPassword && newPassword.invalid && newPassword.errors?.['required'] && showErrors">This field is not valid</span>
    
      </div>
      
      <div class="form-group" style="text-align:center;">
        <label for="password" style="text-align:center;"><b>Confirm Password</b></label>
        <input style="text-align:center;" [type]="changetype?'password':'text'" placeholder="Enter your password" formControlName="confirmPassword">
        <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i>
        </span>
        <span style="color:brown"*ngIf="newPassword && newPassword.invalid && newPassword.errors?.['required'] && showErrors">This field is not valid</span>
    
      </div>
      <button type="button" class="cancelbtn" (click)="cancel()">Cancel</button>
      <button type="submit" class="passwordbtn">Change Password</button>
    </div>
     
  </form> 