
.chat-display
{
    width: 700px;
    height: 600px;
    background-color: azure;
}

h2
{
    text-align: center;
    padding-left: 70px;
}

img
{
    height: 50px;
    width: 50px;
}

.textArea
{
    width: 650px;
    height: 40px;
   display: flex;


}

.message-display
{
    width: 600px;
    height: 500px;
    background-color: rgb(236, 169, 86);
    padding: 20px;
    border-radius: 30px;
}

.btn
{
    height: 40px;
    width: 40px;
    background-image: url(../../assets/png-transparent-airplane-paper-plane-airplane-angle-furniture-rectangle-thumbnail.png);
    background-size: contain;
    float: right;
}

.sender
{
    width :350px ; 
    height : 50px ; 
    color: rgb(0, 0, 0) ; 
    float: right; 
    background-color: rgb(176, 248, 192); 
    border-radius: 20px;
    padding-bottom: 10px;
}

.reciever
{
    width :350px ; 
    height : 50px ; 
    color: rgb(0, 0, 0); 
    float: left; 
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding-bottom: 10px;
}

.show-toast
{
    position: absolute;
}

h2
{
width: 500px;
height: 30px;
background-color: rgb(182, 158, 180);
border-radius: 50px;
}
