<h2>Forgot Password</h2>
<form [formGroup]="forgotForm" (ngSubmit)="forgetPassword() ">
    <div class="container" style="text-align:center;">
      <div class="form-group">
        <label for="email"><b>Email</b></label>
        <input type="text" ngModel placeholder="Enter email" name="email" formControlName="email">
      </div>
  
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="submit" class="passwordbtn">Send OTP</button>
     
    </div>
  </form> 