<h2 style="text-align: center;">Forgot Password</h2>
<form [formGroup]="forgotForm" (ngSubmit)="forgetPassword() ">
    <div class="container" style="text-align:center;">
      <div class="form-group">
        <label for="email"><b>Email</b></label>
        <input type="text" ngModel placeholder="Enter email" name="email" formControlName="email">
        <span style="color:brown"*ngIf="email && email.invalid && email.errors?.['required'] && showErrors">This field is not valid</span>
      </div>
      <button type="submit" class="passwordbtn">Send OTP</button>
    </div>
</form> 